/*  먼저 normalize 한 뒤에 사용
    해당 소스는 normalize 4.2.0 버전을 사용하여 작성됨 
    normalize 파일은 normalize_4_2_0.css 파일로 함께 있음. 
    html 파일에서 link를 이용하여 normalize 파일을 먼저 link 시킨 후 사용할 것*/

@charset "utf-8";

#container {width:1400px; margin: 0 auto;}
#header_container {width:100%; height:400px;}
#content_container {width:1000px; float:left;}
#sidebar_container {width:400px; float:left;}
#footer_container {width:1400px; height:100px; float:left; }

#content_container, #sidebar_container {height:800px;}

#header_container   {background-color:rgb(255, 0, 0);}
#content_container  {background-color:rgb(0, 255, 144);}
#sidebar_container  {background-color:rgb(182, 255, 0);}
#footer_container   {background-color:rgb(72, 0, 255);}